/*menu burger */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin-top: -8px;
}

body{
    background-color: rgb(30, 30, 30);
    font-family:Poppins;
}

.img_acceuil{
    width: 58vw;
    height: 93vh;
    margin-left: 293px;
    border-radius: 18px;
}


a {
    color: rgb(255, 255, 255);
    font-size: 22px;
}
a:visited {
    color: rgb(0, 0, 0);
}
a:hover {
    color: #ffffff;
}




/* off-screen-menu */
.off-screen-menu {
    background-color: rgba(92, 9, 57, 0.897);
    height: 28vh;
    width: 100vw;
    max-width: 184px;
    position: fixed;
    top: 34px;
    right: -465px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    transition: .3s ease;
    z-index: 100;
    border-radius: 20px;
}



.off-screen-menu.active {
    right: 335px;
}



/* nav */
nav {
    padding: 1rem;
    display: flex;
}



/* ham menu */
.ham-menu {
    height: 50px;
    width: 46px;
    margin-left: 267px;
    position: relative;
    top: 50px;
    left: 856px;
    z-index: 101;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #000000;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: rgb(0, 0, 0);
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}



.texte_inscription_obli{
    color: white;
}


p{
    position: absolute;
    font-size: 32px;
    left: 431px;
    bottom:603px;
    color: red;
}

@media (min-width: 319px) and (max-width: 426px){

    
}